.valueText {
  font-size: rem(14px);
  font-style: normal;
  font-weight: 400;
  line-height: rem(20px);
  width: rem(230px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.option {
  border-radius: rem(8px);
  padding: rem(8px) rem(12px);
  height: rem(36px);

  &[data-active='true'] {
    background-color: var(--mantine-color-purple-5);

    @mixin hover {
      background-color: var(--mantine-color-purple-5);
    }
  }
  @mixin hover {
    background-color: var(--mantine-color-purple-4);
    p {
      color: var(--mantine-color-white);
    }
  }
}

.optionText {
  font-size: rem(14px);
  font-style: normal;
  font-weight: 400;
  line-height: rem(20px);
  color: var(--mantine-color-black);

  &[data-active='true'] {
    color: var(--mantine-color-white);
  }
}

.root {
  width: rem(284px);
}

.input {
  height: rem(42px);

  border: rem(1px) solid var(--mantine-color-grey-3);
  border-radius: rem(8px);
}

.label {
  font-size: rem(16px);
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.dropdown {
  border: none;
  border-radius: rem(8px);
}
