.paper {
  padding: rem(24px);
  border-radius: rem(12px);
  margin-top: rem(20px);
  height: rem(400px);
}

.group {
  align-items: flex-start;
  gap: rem(8px);
  flex-wrap: nowrap;
  justify-content: space-between;
}

.stack {
  justify-content: space-between;
  height: rem(352px);
}

.text {
  font-size: rem(20px);
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  color: var(--mantine-color-purple-4);
}

.textGrey {
  font-size: rem(16px);
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  color: var(--mantine-color-grey-6);
}
