.paper {
  height: 100%;

  padding: rem(24px);
  border-radius: rem(12px);
  margin-top: rem(20px);
  height: rem(400px);
  @media (max-width: $mantine-breakpoint-lg) {
    height: 100%;
  }
}

.poster {
  max-width: rem(250px);
  width: 100%;
  align-self: stretch;
}

.groupBlock {
  height: 100%;

  align-items: flex-start;
  gap: rem(8px);
  flex-wrap: nowrap;
  justify-content: space-between;

  @media (max-width: em(400px)) {
    flex-wrap: wrap-reverse;
  }
}

.group {
  height: 100%;
  align-items: flex-start;
  gap: rem(8px);
  flex-wrap: nowrap;
  justify-content: space-between;
  @media (max-width: $mantine-breakpoint-lg) {
    flex-wrap: wrap;
  }
}

.stack {
  justify-content: space-between;
  height: 100%;
}

.text {
  font-size: rem(20px);
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  color: var(--mantine-color-purple-4);
}

.textGrey {
  font-size: rem(16px);
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  color: var(--mantine-color-grey-6);
}
