.card {
  padding: rem(24px);
  border-radius: rem(12px);
}

.group {
  align-items: flex-start;
  gap: rem(8px);
  flex-wrap: nowrap;
  justify-content: space-between;

  @media (max-width: em(400px)) {
    flex-wrap: wrap-reverse;
  }
}



.textButton {
  color: var(--mantine-color-purple-4);
  font-weight: 600;
  font-size: rem(20px);
  line-height: normal;
  font-style: normal;

  @mixin hover {
    color: var(--mantine-color-purple-3);
  }
}

.voteAverageText {
  font-weight: 600;
  line-height: rem(20px);
  font-size: rem(16px);
  font-style: normal;
}

.voteCountText {
  font-weight: 400;
  font-size: rem(16px);
  line-height: normal;
  color: var(--mantine-color-grey-6);
}
