.root {
  max-width: rem(658px);
  width: 100%;
}

.input {
  height: rem(48px);
  border: 1px solid var(--mantine-color-grey-3);
  border-radius: rem(8px);
}

.button {
  width: rem(88px);
  height: rem(32px);

  border-radius: rem(8px);
  background-color: var(--mantine-color-purple-5);
}
