.root {
  width: rem(380px);
}

.content {
  border-radius: rem(8px);
}

.header {
  height: rem(54px);
  padding: rem(16px);
  border-bottom: '1px solid var(--mantine-color-grey-1)';
}

.body {
  padding: rem(16px);
}

.text {
  font-weight: 400;
  font-size: rem(14px);
  font-style: normal;
}

.titleText {
  font-weight: 700;
  font-size: rem(16px);
  line-height: 140%;
  font-style: normal;
}

.ratingText {
  font-weight: 400;
  font-size: rem(16px);
  line-height: 140%;
  font-style: normal;
}
