.container {
  margin-left: rem(90px);
  margin-top: rem(41.5px);
  position: relative;
}

.title {
  font-size: rem(32px);
  font-weight: 700;
  font-style: normal;
  line-height: 140%;
}

.paginationContainer {
  position: absolute;
  right: 0;
}
