.container {
  margin-left: 90px;
  margin-top: 41.5px;
  position: relative;
}

.title {
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  line-height: 140%;
}

.paginationContainer {
  position: absolute;
  right: 0;
}
