.button {
  background-color: var(--mantine-color-purple-5);
  @mixin hover {
    background-color: var(--mantine-color-purple-4);
  }

  &:active {
    background-color: var(--mantine-color-purple-6);
  }
}

.scrollbar {
  &[data-orientation='vertical'] .thumb {
    background-color: var(--mantine-color-grey-5);
    width: rem(4px);
    height: rem(24px);
    max-width: rem(4px);
    max-height: rem(24px);

    border-radius: rem(20px);
  }
}
